[Unit]
Description=Fixes many issues with the 2022 LG Grams running Linux and sets charging limit to 80

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix-gram.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

